.imageContainer1 {
  background-image: url("../public/assets/images/HomePage/WebsiteBGCreatesection.webp");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-perfect-suit {
  padding-top: 3.75rem;
}

.home-card-style {
  border: 1px solid #c7c7d7;
}

.home-spread-top-pink {
  position: absolute;
  left: -5.063rem;
  top: -6.688rem;
  background-color: #a0f;
  width: 12.813rem;
  height: 12.813rem;
  flex-shrink: 0;
  opacity: 0.3;
  filter: blur(175px);
}

.home-spread-bottom-pink {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #7454a9;
  width: 15rem;
  height: 15rem;
  flex-shrink: 0;
  opacity: 0.6;
  filter: blur(175px);
}

.home-spread-Big-pink {
  position: absolute;
  right: 0rem;
  top: -4.375rem;
  width: 53.75rem;
  height: 53.75rem;
  flex-shrink: 0;
  border-radius: 53.75rem;
  opacity: 0.3;
  background: #7454a9;
  filter: blur(250px);
}

.home-vector-top-left-spread {
  position: absolute;
  right: 0;
  top: 3rem;
}

.home-vector-left-spread {
  position: absolute;
  left: 0;
  bottom: 85px;
  background-image: url("../public/assets/images/HomePage/lineLeft.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 24.5rem;
}

.home-vector-right-spread {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 24.5rem;
  display: none;
}

.why-choose-vector-img {
  position: absolute;
  top: 2rem;
  width: 68%;
  height: auto;
}

.home-footer-spread-bottom-pink {
  position: absolute;
  left: -6rem;
  bottom: 0rem;
  background-color: #a0f;
  width: 12.813rem;
  height: 12.813rem;
  flex-shrink: 0;
  opacity: 0.6;
  filter: blur(175px);
}

.career-job-spread-top-pink {
  position: absolute;
  left: -6.063rem;
  top: -6.688rem;
  background-color: #a0f;
  width: 12.813rem;
  height: 12.813rem;
  flex-shrink: 0;
  opacity: 0.6;
  filter: blur(175px);
}
.career-job-spread-top-pink-two {
  position: absolute;
  left: -5.063rem;
  top: 25.688rem;
  background-color: #a0f;
  width: 12.813rem;
  height: 12.813rem;
  flex-shrink: 0;
  opacity: 0.6;
  filter: blur(175px);
}

.home-team-can-trust-gradient {
  background: rgb(116, 84, 169);
  background: linear-gradient(
    90deg,
    rgba(116, 84, 169, 1) 0%,
    rgba(184, 141, 255, 1) 100%
  );
}

.mobile-display-style {
  display: none;
}
.desktop-display-style {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bottom-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.bottom-to-top button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.home-slider-box {
  background-color: #ffffff;
  padding: 4rem 3rem;
  min-height: 16rem;
  height: 16rem;
  border-radius: 12px;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* @DESC Home Page Top section */
.home-top-right-vector {
  width: 5rem;
  height: auto;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 3.438rem;
}
.home-right-main-img {
  width: 36.313rem;
  height: 35.125;
  z-index: 1;
  object-fit: contain;
}
.home-center-vector-img {
  width: 65%;
  height: auto;
  object-fit: contain;
  position: absolute;
  left: 0;
  bottom: 5.813rem;
}
.home-right-bottom-vector-img {
  width: 18.75rem;
  height: auto;
  object-fit: contain;
  position: absolute;
  right: 0;
  bottom: 2.813rem;
}

.right-image-display-desktop {
  display: block;
}

.right-image-display-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .right-image-display-desktop {
    display: none;
  }

  .right-image-display-mobile {
    display: block;
  }
  .mobile-display-style {
    display: block;
  }
  .desktop-display-style {
    display: none;
  }

  .home-vector-top-left-spread {
    position: absolute;
    right: 0;
    top: 3rem;
  }

  .home-vector-left-spread {
    position: absolute;
    left: 0;
    top: 200px;
  }

  .home-vector-right-spread {
    display: block;
    bottom: 35px;
  }
  .home-slider-box {
    padding: 2rem 3rem;
    margin: 18px 40px;
  }

  /* @DESC Home Page Top section */
  .home-top-right-vector {
    width: 3.4rem;
    height: auto;
    object-fit: contain;
    position: absolute;
    right: 0;
    top: 0.5rem;
  }
  .home-right-main-img {
    width: 36.313rem;
    height: 35.125;
    z-index: 1;
    object-fit: contain;
  }
  .home-center-vector-img {
    width: 28rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 12.813rem;
  }
  .home-right-bottom-vector-img {
    display: none;
  }
}

@media (min-width: 1600px) {
  .home-center-vector-img {
    width: 72% !important;
    height: auto;
    object-fit: cover;
    bottom: 3rem;
  }
}

/* @media only screen and (-webkit-min-device-pixel-ratio: 1.77) and (orientation: portrait) {
  /* (orientation:landscape) // 
  .home-top-right-vector {
    width: 4.6rem;
  }
} */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .no-display-on-ipad {
    display: none !important;
  }
  .home-slider-box {
    padding: 1rem 1rem;
    border-radius: 12px;
    margin: 38px 6px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .no-display-on-ipad {
    display: none !important;
  }
  .home-slider-box {
    padding: 1rem 1rem;
    border-radius: 12px;
    margin: 38px 6px;
  }
}
