/****** TEXT_SIZE84 ******/
.typoStyles700_84 {
  font-family: var(--font-space-grotesk);
  font-size: 5.25rem;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -0.02em;
}
/****** TEXT_SIZE72 ******/
.typoStyles700_72 {
  font-family: var(--font-poppins);
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 52px;
}

/****** TEXT_SIZE60 ******/
.typoStyles500_60 {
  font-family: var(--font-space-grotesk);
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 76.56px;
}
.typoStyles_poppins_500_60 {
  font-family: var(--font-poppins);
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 76.56px;
}
/****** TEXT_SIZE42 ******/
.typoStyles700_42 {
  font-family: var(--font-space-grotesk);
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 52px;
}
/****** TEXT_SIZE40 ******/
.typoStyles500_40 {
  font-family: var(--font-space-grotesk);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 51.04px;
}
/****** TEXT_SIZE28 ******/
.typoStyles700_28 {
  font-family: var(--font-space-grotesk);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 38px;
}
.typoStylesOswald500_28 {
  font-family: var(--font-oswald);
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 38px;
}
.typoStylesPoppins700_28 {
  font-family: var(--font-poppins);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 38px;
}
/****** TEXT_SIZE24 ******/
.typoStyles700_24 {
  font-family: var(--font-space-grotesk);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.typoStylesSportingGrotesque_700_24 {
  font-family: var(--font-sporting-Grotesque);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
}
.typoStylesPoppins700_24 {
  font-family: var(--font-poppins);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
}
/****** TEXT_SIZE22 ******/
.typoStyles700_22 {
  font-family: var(--font-space-grotesk);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 22px;
}

/****** TEXT_SIZE20 ******/
.typoStyles500_20 {
  font-family: var(--font-space-grotesk);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}
.typoStyles_poppins_500_20 {
  font-family: var(--font-poppins);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}
.typoStyles400_20 {
  font-family: var(--font-space-grotesk);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25.52px;
}
.typoStyles400_30_20 {
  font-family: var(--font-space-grotesk);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.5px;
}

/****** TEXT_SIZE18 ******/
.typoStyles700_18 {
  font-family: var(--font-space-grotesk);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 30px;
}
.typoStyles500_18 {
  font-family: var(--font-space-grotesk);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}
.typoStyles400_18 {
  font-family: var(--font-space-grotesk);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
}
.typoStyles400_30_18 {
  font-family: var(--font-space-grotesk);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
}
.typoStylesPoppins400_18 {
  font-family: var(--font-poppins);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
}

/****** TEXT_SIZE16 ******/
.typoStyles400_16 {
  font-family: var(--font-space-grotesk);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}
.typoStyles400_28_16 {
  font-family: var(--font-space-grotesk);
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}
.typoStyles400_22_16 {
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}
.typoStyles500_16 {
  font-family: var(--font-space-grotesk);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.typoStyles700_16 {
  font-family: var(--font-space-grotesk);
  font-size: 1rem;
  font-weight: 700;
  line-height: 52px;
}
.typoStyles700_26_16 {
  font-family: var(--font-space-grotesk);
  font-size: 1rem;
  font-weight: 700;
  line-height: 26px;
}

/****** TEXT_SIZE14 ******/
.typoStyles400_14 {
  font-family: var(--font-space-grotesk);
  font-size: 0.875;
  font-weight: 400;
  line-height: 20px;
}
.typoStylesPoppins400_14 {
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  /****** TEXT_SIZE84 ******/
  .typoStyles700_84 {
    font-family: var(--font-space-grotesk);
    font-size: 2rem;
    font-weight: 700;
    line-height: 40.83px;
    letter-spacing: -0.02em;
  }
  /****** TEXT_SIZE60 ******/
  .typoStyles500_60 {
    font-family: var(--font-space-grotesk);
    font-size: 2rem;
    font-weight: 700;
    line-height: 40.83px;
  }
  /****** TEXT_SIZE42 ******/
  .typoStyles700_42 {
    font-family: var(--font-space-grotesk);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 25.52px;
  }
  /****** TEXT_SIZE40 ******/
  .typoStyles500_40 {
    font-family: var(--font-space-grotesk);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30.62px;
  }
  /****** TEXT_SIZE28 ******/
  .typoStyles700_28 {
    font-family: var(--font-space-grotesk);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 22.97px;
  }
  .typoStylesOswald500_28 {
    font-family: var(--font-oswald);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 22.97px;
  }
  .typoStylesPoppins700_28 {
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: 700;
    line-height: 20.42px;
  }
  /****** TEXT_SIZE24 ******/
  .typoStyles700_24 {
    font-family: var(--font-space-grotesk);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
  }
  .typoStylesSportingGrotesque_700_24 {
    font-family: var(--font-sporting-Grotesque);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: -0.02em;
  }
  .typoStylesPoppins700_24 {
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
  }

  /****** TEXT_SIZE20 ******/
  .typoStyles500_20 {
    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.5px;
  }
  .typoStyles_poppins_500_20 {
    font-family: var(--font-poppins);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.5px;
  }
  .typoStyles400_20 {
    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 16px;
  }
  .typoStyles400_30_20 {
    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 17.86px;
    letter-spacing: -0.5px;
  }
  /****** TEXT_SIZE18 ******/
  .typoStyles700_18 {
    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 30px;
  }
  .typoStyles500_18 {
    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 28px;
  }
  .typoStyles400_18 {
    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
  }
  .typoStyles400_30_18 {
    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20.16px;
  }
  .typoStylesPoppins400_18 {
    font-family: var(--font-poppins);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
  }
  /****** TEXT_SIZE16 ******/
  .typoStyles400_16 {
    font-family: var(--font-space-grotesk);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 24px;
  }
  .typoStyles400_28_16 {
    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 28px;
  }
  .typoStyles500_16 {
    font-family: var(--font-space-grotesk);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
  }
  .typoStyles700_16 {
    font-family: var(--font-space-grotesk);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 52px;
  }
  .typoStyles700_26_16 {
    font-family: var(--font-space-grotesk);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 26px;
  }
  .typoStyles400_22_16 {
    font-family: var(--font-poppins);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
  }
  /****** TEXT_SIZE14 ******/
  .typoStyles400_14 {
    font-family: var(--font-space-grotesk);
    font-size: 0.875;
    font-weight: 400;
    line-height: 20px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  /****** TEXT_SIZE84 ******/
  .typoStyles700_84 {
    font-family: var(--font-space-grotesk);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.02em;
  }
  /****** TEXT_SIZE60 ******/
  .typoStyles500_60 {
    font-family: var(--font-space-grotesk);
    font-size: 3rem;
    font-weight: 500;
    line-height: 55px;
  }
  .typoStyles_poppins_500_60 {
    font-family: var(--font-poppins);
    font-size: 3rem;
    font-weight: 500;
    line-height: 55px;
  }
  /****** TEXT_SIZE20 ******/
  .typoStyles_poppins_500_20 {
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.5px;
  }
}
